.background-image {
    z-index: -1;
}

body {
    font-family: Purista, monospace;
    color:#f3e500;
    background-image: url(img/bg_img.jpg); /*Hintergrundbild*/
}

.button {
    color: #f3e500;
    font-family: Purista, serif;
    width: 264px;
    height: 62px;
    font-size: large;
    position: center;
    padding: 0;
    border: none;
    background: none;
}

.logo {
    -webkit-transform:scale(0.235);
}

video {
    width: 40%;
}

footer {
    position: fixed;
    bottom: 0;
}
aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
}

aside > p {
    margin: .5rem;
}


.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
#quote {
    font-size: xxx-large;
}

#mainText {
    text-align: center;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

a:link {
     color: #fdf800;
     background-color: transparent;
     text-decoration: none;
 }

a:visited {
    color: #fdf800;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #fdf800;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #fdf800;
    background-color: transparent;
    text-decoration: underline;
}

#myCanvas {
    position: relative;

}